.icon_arrow_right {
  background: url(less/icon/icon_arrow_right.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_play {
  background: url(less/icon/icon_play.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_sign_result {
  background: url(less/icon/icon_sign_result.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_close {
  background: url(less/icon/icon_close.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_grade {
  background: url(less/icon/icon_grade.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_list_end {
  background: url(less/icon/icon_list_end.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_checkbox {
  background: url(less/icon/icon_checkbox.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_send {
  background: url(less/icon/icon_send.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_zan {
  background: url(less/icon/icon_zan.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_zan_active {
  background: url(less/icon/icon_zan_active.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_message {
  background: url(less/icon/icon_message.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_upload_close {
  background: url(less/icon/icon_upload_close.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_audio {
  background: url(less/icon/icon_audio.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_audio_before {
  background: url(less/icon/icon_audio_before.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_share {
  background: url(less/icon/icon_share.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_user_grade {
  background: url(less/icon/icon_user_grade.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_user_list {
  background: url(less/icon/icon_user_list.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_user_lx {
  background: url(less/icon/icon_user_lx.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_bind_success {
  background: url(less/icon/icon_bind_success.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_bind_error {
  background: url(less/icon/icon_bind_error.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_integral {
  background: url(less/icon/icon_integral.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_close_active {
  background: url(less/icon/icon_close_active.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_food_splice {
  background: url(less/icon/icon_food_splice.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_food_push {
  background: url(less/icon/icon_food_push.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_image_splice {
  background: url(less/icon/icon_image_splice.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_source_add {
  background: url(less/icon/icon_source_add.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_del {
  background: url(less/icon/icon_del.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_listen {
  background: url(less/icon/icon_listen.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_notice_notice {
  background: url(less/icon/icon_notice_notice.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_notice_approval {
  background: url(less/icon/icon_notice_approval.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_approval_add {
  background: url(less/icon/icon_approval_add.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_send_del {
  background: url(less/icon/icon_send_del.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_send_del_s {
  background: url(less/icon/icon_send_del_s.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_h1 {
  background: url(less/icon/icon_h1.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_h2 {
  background: url(less/icon/icon_h2.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_h3 {
  background: url(less/icon/icon_h3.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_h4 {
  background: url(less/icon/icon_h4.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_girl {
  background: url(less/icon/icon_girl.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_boy {
  background: url(less/icon/icon_boy.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_screen_active {
  background: url(less/icon/icon_screen_active.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_screen {
  background: url(less/icon/icon_screen.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_am {
  background: url(less/icon/icon_am.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
.icon_pm {
  background: url(less/icon/icon_pm.png) 0 0 no-repeat scroll transparent;
  background-size: 100% 100%;
}
